.profile {
  position: relative;
}

.title {
  font-size: 28px;
  color: #333;
  text-align: center;
  margin: 0 0 32px;
}

.skills-wrapper {
  width: 100%;
  padding: 40px 0 76px;
  margin: 0 0 32px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;

  .skills-list {
    max-width: 68%;
    margin: 0 auto;

    &__item {
      display: inline-block;
      width: 50%;
      margin: 0 0 40px;

      &:nth-child(odd) {
        text-align: left;
      }

      &:nth-child(even) {
        text-align: right;
      }

      &:last-child, &:nth-last-child(2) {
        margin: 0;
      }
    }
  }

  .skill-detail-link {
    font-size: 16px;
    color: rgba(232, 103, 107, 1);
    position: absolute;
    bottom: 24px;
    right: 40px;

    &:hover {
      border-bottom: #e8676b solid 1px;
    }
  }
}

.career-list {
  width: 100%;
  position: relative;
  margin: 0 0 68px;

  &:before {
    content: '';
    display: inline-block;
    border-left: 8px solid rgb(232, 103, 107);
    opacity: 0.25;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  &__item {
    position: relative;

    &:after {
      content: '';
      display: inline-block;
      width: 8px;
      height: 8px;
      background: #e8676b;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    .careerCardWrapper {
      width: 39.5%;
      display: inline-block;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -12px;
        border: 12px solid transparent;
        z-index: 2;
      }

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -14px;
        border: 14px solid transparent;
        z-index: 1;
      }
    }

    &.odd {
      .careerCardWrapper {
        margin: 0 0 0 7%;

        &:before {
          right: -23px;
          border-left: 12px solid #FFF;
        }

        &:after {
          right: -28px;
          border-left: 14px solid rgb(224,224,224);
        }
      }
    }

    &.even {
      text-align: right;
      .careerCardWrapper {
        margin: 0 7% 0 0;
        text-align: left;

        &:before {
          left: -23px;
          border-right: 12px solid #FFF;
        }

        &:after {
          left: -28px;
          border-right: 14px solid rgb(224,224,224);
        }
      }
    }
  }
}
