.header {
  width: 100%;
  padding: 12px 52px 8px;
  @include flexbox(nowrap, center, space-between);
  border-radius: 0px 4px 4px 0px;
  background: #fff;
  position: fixed;
  z-index: 1;
  transition: transform 400ms ease-out 100ms, padding 300ms ease-out, box-shadow 300ms ease-out, background 300ms ease-out;
  transform: translate(0, 0);

  &.side-menu-open::after {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.38);
  }
}

.header--scrolled {
  @extend .header;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.2);
}

.header--top-position {
  @extend .header;
  background: transparent;
}

.title {
  font-size: 28px;
  letter-spacing: -0.03em;
  line-height: 1.43;

  &__my {
    color: rgb(232, 103, 107);
    margin: 0 4px 0;
  }

  &__profile {
    color: rgb(154, 157, 162);
  }
}

.navigation {
  @media(max-width: 749px) {
    display: none;
  }

  .navigation-list {
    margin: 0;
    padding: 0;
    @include flexbox;

    &__item {
      margin: 0 20px 0 0;

      a {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.7);
        &:hover {
          color: rgba(0, 0, 0, 1);
        }
      }

      &.is-position-top a {
        color: rgba(255, 255, 255, 0.7);

        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }

      &:last-child {
        margin: 0;
      }

      &.active {
        border-bottom: 4px solid #e8676b;
        padding-bottom: 4px;
      }
    }
  }
}

.menu {
  display: none;
  padding: 11px 20px 11px;
  background: transparent;
  border: 1px solid #7a7e8e;
  cursor: pointer;

  span {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    color: rgba(232, 103, 107, 1);
  }

  @media(max-width: 749px) {
    display: inline-block;
  }
}

.side-bar {
  height: 100%;
  width: 300px;
  padding: 80px 0 0 60px;
  position: fixed;
  top: 0;
  right: -300px;
  opacity: 0;
  background: rgba(232, 103, 107, 1);;
  z-index: 10;
  transition: 0.5s;

  &.is-active {
    opacity: 1;
    right: 0;
    transition: 0.5s;
  }

  .close-icon {
    width: 26px;
    height: 26px;
    position: fixed;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }

  .navigation-list {
    &__item {
      cursor: pointer;
      margin: 0 0 28px;

      a {
        font-size: 14px;
        line-height: 1.21;
        color: rgba(255, 255, 255, 0.9);

        &.active {
          border-bottom: 4px solid rgba(255, 255, 255, 0.9);
          padding-bottom: 4px;
        }

        &:hover {
          color: rgba(255, 255, 255, 1);
        }
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
