.l-wrapper {
  background: #efefef;
  min-height: 100vh;
  @include flexbox(nowrap, normal, normal);
  flex-direction: column;
}

.l-main {
  width: 100%;
  max-width: 972px;
  margin: 120px auto 0;
  padding: 0 16px;
  flex: 1;
}

.l-footer {
  margin: 0 auto 40px;
  max-width: 520px;
  width: 50%;
}
