.sns-list {
  @include flexbox(nowrap, center, space-between);
  padding: 0;
  margin: 0;
  li, a {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  .white {
    color: rgba(255, 255, 255, 0.9);

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  .gray {
    color: rgba(215, 215, 215, 0.9);

    &:hover {
      color: rgba(215, 215, 215, 1);
    }
  }
}
